* {
  transition: all .7s;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  min-height: 100vh;
}

.navbar {
  z-index: 30;
  background: rgba(255, 255, 255, 0.45) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.card:hover{
  transform: translate(0px, -25px);
  box-shadow: 1px 4px 10px 0px;
  margin: 2rem;
  cursor: pointer;
 
}

.badge {
  z-index: 1;
}

.card-img-top {
  border-top-color: rgb(108, 117, 125);
  border-top-style: solid;
  border-top-width: 3px;
}